<h1 class="display-3 mb-5 text-center">Karina fotógrafa</h1>

<div id="publications">
  <% @publications.reverse.each do |publication| %>
    <div class="mb-5">
      <%= render publication %>
      <p>
        <%= link_to "Ver post", publication, class:"fw-bold" %>
      </p>
    </div>
  <% end %>
</div>